<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preload" href="/assets/fonts/Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="alternate" type="application/atom+xml" href="{{meta.feedUrl}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{description or meta.description }}" />
    <meta name="theme-color" content="{{ meta.theme_color}}"/>
    <meta http-equiv="content-language" content="de"/>
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="manifest" href="/manifest.json">
    <title>NDM Freestyle 2023</title>
    <style>
      {% include "../../css/main.css" %}
    </style>
    {% rollup "assets/ts/common.ts" %}
    {% favicon meta.favicon %}
  </head>
  <body>
    <aside>
      <nav>
        {% set navPages = collections.all | eleventyNavigation %}
<ul>
{%- for entry in navPages %}
  <li>
    <snap-ripple><a href="{{ entry.url }}" {% if entry.url == page.url %}active{% endif %} {% if entry.url.startsWith("http") %} target="_blank" {% endif %}><i class="material-icon">{{ entry.icon}}</i><span>{{ entry.title }}</span></a></snap-ripple>
  </li>
{%- endfor %}
</ul>
      </nav>
      <snap-startlist></snap-startlist>
    </aside>

    <main>
      
      <snap-routed>{{ content | safe }}</snap-routed>
      
    </main>

  </body>
</html>
