<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preload" href="/assets/fonts/Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="alternate" type="application/atom+xml" href="{{meta.feedUrl}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{description or meta.description }}" />
    <meta name="theme-color" content="{{ meta.theme_color}}"/>
    <meta http-equiv="content-language" content="de"/>
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="manifest" href="/manifest.json">
    <title>NDM Freestyle 2023</title>
    {% lightningcss "assets/css/main.css" %}
    {% lightningcss "assets/css/print.css", "print" %}
    {% rollup "assets/ts/common.ts" %}
    {% favicon meta.favicon %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "Norddeutsche Meisterschaft Einrad Freestyle 2023",
      "description": "Die NDM 23 ist die norddeutsche Meisterschaft im Einrad Freestyle des EVD und BDRs und wird in Nümbrecht ausgetragen.",
      "startDate": "2023-10-27",
      "endDate": "2023-10-29",
      "eventStatus": "https://schema.org/EventScheduled",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "location": {		
        "@type": "Place",
        "name": "GWN Arena",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Gouvieuxstraße",
          "addressLocality": "Nümbrecht",
          "postalCode": "51588",
          "addressCountry": "DE"
        }
      },
      "image": [
        "https://ndmfreestyle23.de/img/h3lgFhJq7z-1900.avif"
      ],
      "organizer": {
        "@type": "Organization",
        "name": "SSV Nümbrecht Einrad",
        "url": "https://www.ssvnuembrecht-turnen.de/index.php/abteilungen/einradfahren"
      }
    }
    </script>
  </head>
  <body>
    <aside>
      <nav>
        {% set navPages = collections.all | eleventyNavigation %}
<ul>
{%- for entry in navPages %}
  <li>
    <snap-ripple><a href="{{ entry.url }}" {% if entry.url == page.url %}active{% endif %} {% if entry.url.startsWith("http") %} target="_blank" {% endif %}><i class="material-icon">{{ entry.icon}}</i><span>{{ entry.title }}</span></a></snap-ripple>
  </li>
{%- endfor %}
</ul>
      </nav>
      <snap-timeplan></snap-timeplan>
    </aside>

    <main>
      
      <snap-routed>{{ content | safe }}</snap-routed>
      
    </main>

  </body>
</html>
