<!-- <header id="main-header" class="main-header-empty">
  <div class="content">
    <img width="2631" height="2630" id="logo" src="/assets/img/logo_light.svg" alt="Logo der norddeutschen Meisterschaft im Einrad Freestyle 2023">
    <div>
      <h1>Norddeutsche Meisterschaft</h1>
      <h1>Einrad Freestyle</h1>
      <h2>SSV Nümbrecht</h2>
      <h2>27. - 29. Oktober 2023</h2>
    </div>
  </div>
</header> -->

<div class="devider">
  <div class="devider-blue"></div>
  <div class="devider-red"></div>
  <div class="devider-yellow"></div>
</div>

<div class="content">
  <article>
    <snap-pwa-install></snap-pwa-install>

{{ content | safe }}

  </article>
</div>
