:root {

  --color-hue-blue: 240;
  --color-hue-red: 27;
  --color-hue-yellow: 80;
  --color-l-dark: 30%;


  --color-blue: oklch(var(--color-l-dark) 0.06563023089183956 var(--color-hue-blue));
  --color-red: oklch(56% 0.205 var(--color-hue-red));
  --color-yellow: oklch(84% 0.147 var(--color-hue-yellow));
  --color-blue-light: oklch(55% 0.09 var(--color-hue-blue));
  --color-background: oklch(96% 0.003 var(--color-hue-blue));
  --color-background-nuanced: oklch(88% 0.003 var(--color-hue-blue));
  --color-background-secondary: oklch(22% 0.003 var(--color-hue-blue));
  --color-middle-gray: oklch(60% 0.003 var(--color-hue-blue));
  --text-color: oklch(22% 0.003 var(--color-hue-blue));
  --text-color-sidebar: oklch(88% 0.003 var(--color-hue-blue));
}
