@import url("./colors.css");

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/assets/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
  font-family: "Material Symbols Sharp";
  font-style: normal;
  font-display: block;
  src: url("/assets/fonts/MaterialSymbolsSharp-subset.woff2") format("woff2");
}

.material-icon,
.infoBox::before,
.warningBox::before {
  font-family: "Material Symbols Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings: "FILL" 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --xxxs: 0.1rem;
  --xxs: 0.2rem;
  --xs: 0.3rem;
  --s: 0.5rem;
  --m: 1rem;
  --l: 1.2rem;
  --xl: 1.5rem;
  --xxl: 3rem;
  --xxxl: 4rem;
  --xxxxl: 6rem;
}

html {
  font-family: "Mona Sans", sans-serif;
  background: var(--color-blue);
}

body {
  background: var(--color-background);
  color: var(--text-color);
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "sidebar";
  line-height: 1.5;
}

hr {
  border: none;
}

snap-pwa-install {
  margin-bottom: var(--xl);
}

aside {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background: var(--color-background-secondary);
  color: var(--text-color-sidebar);
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 100;
  view-transition-name: aside;
  will-change: transform;
  animation: aside-out 0.2s ease-in;
}
/* Browser hack - prevents first splashy animation */
aside:not(:hover) {
  animation-duration: 0s !important;
}

aside[expanded] {
  height: 100vh;
  height: 100dvh;
  animation: aside-in 0.2s ease-out;
}

@keyframes aside-in {
  from {
    transform: translateY(80%);
  }
}

@keyframes aside-out {
  from {
    height: 100vh;
    height: 100dvh;
  }
  to {
    height: 100vh;
    height: 100dvh;
    transform: translateY(80%);
  }
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  flex-grow: 1;
}

nav a {
  position: relative;
  transition: background-color 0.2s;
  display: grid;
  place-items: center;
  height: var(--xxxl);
  padding: 0;
  color: var(--text-color-sidebar);
  text-decoration: none;
}

nav a span {
  display: none;
}

aside a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--xs);
  background-color: var(--color-red);
  transition: background-color 0.3s;
  pointer-events: none;
}

aside a[active]::after,
aside a:hover::after {
  background-color: var(--color-yellow);
}

aside a:hover,
aside a[active] {
  background: var(--color-blue);
}

nav a .material-icon {
  display: block;
  overflow: hidden;
  width: 24px;
}

main {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  grid-area: main;
  padding-bottom: var(--xxxl);
  position: relative;
  view-transition-name: main;
}

main ul {
  padding-left: var(--m);
}

main ul ul {
  column-width: 15rem;
}

img, svg {
  max-width: 100%;
  height: auto;
}

.devider {
  --devider-bar-height: 1rem;
  overflow: hidden;
  position: relative;
  padding-top: calc((var(--devider-bar-height) * 3) + 12.2785%);
  position: sticky;
  top: 0px;
  z-index: 10;
  /* view-transition-name: devider; */
}

.devider-blue {
  bottom: calc(100% - var(--devider-bar-height));
  padding-top: 100%;
  background-color: var(--color-blue);
}
.devider-red {
  background-color: var(--color-red);
  top: var(--devider-bar-height);
}
.devider-yellow {
  background-color: var(--color-yellow);
  top: calc(var(--devider-bar-height) * 2);
}
.devider-blue,
.devider-red,
.devider-yellow {
  position: absolute;
  transform-origin: 100% 0%;
  transform: skew(0, -7deg);
  width: 100%;
  height: var(--devider-bar-height);
}

.content {
  padding: var(--m);
  width: 100%;
  max-width: 60rem;
  margin: auto;
}

h1,
h2 {
  font-weight: 300;
}

#main-header {
  background: var(--color-blue, #333);
  color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: -1px;
  /* view-transition-name: main-header; */
}

#main-header .content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5vw;
  justify-content: center;
  align-items: center;
  gap: var(--xl) 0;
}

#main-header .content div {
  margin-top: 2rem;
}

#main-header .content div * {
  transform: rotate(-7deg);
  transform-origin: 0%;
  text-align: center;
}

#main-header h1 {
  font-size: 2rem;
}

#main-header h2 {
  font-size: 1.5rem;
}

#main-header h1,
#main-header h2 {
  margin-bottom: 0;
  margin-top: 0;
}

#main-header #logo {
  width: 20rem;
  max-width: 66%;
}

main table,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p {
  margin: 1em 0 0.5em 0;
}

.labeledImage {
  position: relative;
  overflow: hidden;
}

.labeledImage p {
  margin: 0;
}

.labeledImage:hover .labeledImage-label {
  transform: translate(0);
  transition: transform 0.3s ease-out;
}

.labeledImage-label {
  position: absolute;
  top: var(--l);
  left: 0;
  z-index: 1;
  padding: var(--xxxs) var(--s);
  background-color: var(--color-background);
  transform: translate(-150%);
  transition: transform 0.3s ease-in;
}

.labeledImage-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--color-background);
  transform: skew(-7deg);
  box-shadow: var(--s) 0 0 var(--color-blue),
    calc(2 * var(--s)) 0 0 var(--color-red),
    calc(3 * var(--s)) 0 0 var(--color-yellow);
}

.logo-line {
  height: var(--xxxl);
  display: flex;
  justify-content: space-evenly;
  gap: var(--m);
  margin-block: var(--xxl);
}

.logo-line img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.iconBox {
  display: flex;
  gap: var(--s);
}

.iconBoxIcon {
  text-align: center;
  width: var(--xxxxl);
  padding-block: var(--s);
  flex-shrink: 0;
}

.iconBoxIcon .material-icon {
  font-size: var(--xl);
}

.iconBoxContent {
  flex-grow: 1;
  overflow: auto;
}

.infoBox,
.warningBox {
  padding: var(--s);
  padding-left: calc(var(--s) + var(--xxxl));
  position: relative;
  margin-block: var(--m);
}

.infoBox > :first-child,
.warningBox > :first-child {
  margin-top: 0;
}

.infoBox > :last-child,
.warningBox > :last-child {
  margin-bottom: 0;
}

.infoBox::before,
.warningBox::before {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: var(--xxxl);
  height: 100%;
  font-size: var(--xl);
}

.infoBox {
  background: var(--color-background-nuanced);
}

.infoBox::before {
  content: "info";
  background: var(--color-blue);
}

.warningBox {
  background: var(--color-yellow);
}

.warningBox::before {
  content: "warning";
  background: var(--color-red);
}

.gmaps {
  border: none;
  width: 100%;
  height: 25rem;
}

.right {
  text-align: right;
}

table {
  border-collapse: collapse;
  background: var(--color-background-secondary);
  color: var(--text-color-sidebar);
  width:100%;
  overflow: auto;
}

table a {
  color: var(--color-yellow);
}

tr:nth-child(even) {
  background: #fff2;
}

td {
  padding: var(--xs);
  vertical-align: top;
}

.table_devider {
  border-bottom: var(--xxxs) solid var(--color-yellow);
}

@media (min-width: 60rem) {
  body {
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar main";
    height: 100vh;
  }

  .devider {
    position: relative;
  }

  main {
    overflow: auto;
  }

  aside {
    padding-top: var(--m);
    gap: var(--xxxl);
    height: 100vh;
    animation-duration: 0s;
  }

  aside snap-startlist {
    min-height: 0;
    flex-shrink: 1;
  }

  nav {
    flex-grow: 1;
  }

  nav ul {
    flex-direction: column;
  }

  nav a span {
    display: initial;
  }

  nav a {
    display: flex;
    gap: var(--s);
    height: auto;
    padding: var(--s) var(--m);
  }

  aside a::after {
    display: none;
  }
}

@keyframes view-transition-in {
  from {
    opacity: 0;
  }
}

@keyframes view-transition-out {
  to {
    opacity: 0;
  }
}

::view-transition-old(main) {
  animation: 0.1s both view-transition-out;
}

::view-transition-new(main) {
  animation: 0.1s both view-transition-in;
}

::view-transition-old(aside) {
  /* Don't show the frozen old view */
  display: none;
}

::view-transition-new(aside) {
  /* Don't fade the new view in */
  animation: none;
}

.table-wrapper {
  overflow: auto;
}

.nowrap {
  white-space: nowrap;
}
