@page {
  size: A4;
  margin: 2rem 0;
}

.hide-print {
  display: none;
}

body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0;
  grid-template-areas: "main" "sidebar";
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

header {
  padding-top: var(--xl);
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: var(--xl);
}

article h2 {
  position: relative;
}

article h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-4 * var(--s));
  width: var(--xs);
  height: 1.2em;
  box-shadow: var(--xs) 0 0 var(--color-blue), calc(2 * var(--xs)) 0 0 var(--color-red), calc(3 * var(--xs)) 0 0 var(--color-yellow);
  transform: skewX(-7deg);
  transform-origin: 100% 0%;
}

hr {
  break-before: page;
}

#main-header,
main,
body {
  background-color: #fff;
  color: var(--text-color);
}

.content {
  padding: var(--xxl) var(--xxl) 0 var(--xxxl);
}

snap-pwa-install,
aside {
  display: none;
}

.devider {
  overflow: initial;
  position: relative;
}
.devider-blue {
  padding-top: 0;
}

.warningBox {
  border: var(--xxs) solid var(--color-red);
  background: none;
}
.warningBox::before {
  background: none;
  color: var(--color-red);
}

.infoBox {
  border: var(--xxs) solid var(--color-blue);
  background: none;
}
.infoBox::before {
  background: none;
  color: var(--color-blue);
}

table {
  background: none;
  color: var(--text-color);
}
table a {
  color: initial;
}

.warningBox,
.infoBox,
table,
figure,
ul,
ol {
  page-break-inside: avoid;
}

#logo_driver {
  fill: var(--color-background-secondary);
  stroke: var(--color-background-secondary);
}
