@font-face {
  font-family: 'Mona Sans';
  src: url('/assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/assets/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  src: url('/assets/fonts/MaterialSymbolsSharp-subset.woff2')
    format('woff');
}

.material-icon, .infoBox::before, .warningBox::before {
  font-family: 'Material Symbols Sharp';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings: 'FILL' 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-blue: #003049;
  --color-red: #d12727;
  --color-yellow: #fcbf49;
  --color-blue-light: #367ba0;
  --color-background: hsl(201deg 5% 95%);
  --color-background-nuanced: hsl(201deg 5% 85%);
  --color-background-secondary: hsl(201, 5%, 10%);
  --text-color: hsl(201, 5%, 10%);
  --text-color-sidebar: hsl(201deg 5% 85%);

  --xxxs: 0.1rem;
  --xxs: 0.2rem;
  --xs: 0.3rem;
  --s: 0.5rem;
  --m: 1rem;
  --l: 1.2rem;
  --xl: 1.5rem;
  --xxl: 3rem;
  --xxxl: 4rem;
}

html {
  font-family: 'Mona Sans', sans-serif;
  background: var(--color-blue);
}

body {
  background: var(--color-background);
  color: var(--text-color);
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'main' 'sidebar';
  line-height: 1.5;
}

snap-pwa-install {
  margin-bottom: var(--xl);
}

aside {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background: var(--color-background-secondary);
  color: var(--text-color-sidebar);
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 100;
  view-transition-name: aside;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  flex-grow: 1;
}

nav snap-link {
  display: grid;
  place-items: center;
  height: 100%;
  position: relative;
  transition: background-color 0.2s;
}

nav snap-link::part(a) {
  display: grid;
  place-items: center;
  height: var(--xxxl);
  padding: 0;
  color: var(--text-color-sidebar);
  text-decoration: none;
}

nav snap-link span {
  display: none;
}

aside snap-link::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--xs);
  background-color: var(--color-red);
  transition: background-color 0.3s;
  pointer-events: none;
}

aside snap-link[active]::after,
aside snap-link:hover::after {
  background-color: var(--color-yellow);
}

aside snap-link:hover,
aside snap-link[active] {
  background: var(--color-blue);
}

main {
  width: 100%;
  height: 100%;
  min-width: 0;
  grid-area: main;
  padding-bottom: var(--xl);
  position: relative;
  view-transition-name: main;
}

main ul {
  padding-left: var(--m);
}

main ul ul {
  column-width: 15rem;
}

img {
  max-width: 100%;
  height: auto;
}

.devider {
  --devider-bar-height: 1rem;
  overflow: hidden;
  position: relative;
  padding-top: calc((var(--devider-bar-height) * 2) + 12.2785%);
  position: sticky;
  top: 0px;
  z-index: 10;
  /* view-transition-name: devider; */
}

.devider-blue {
  bottom: 100%;
  padding-top: 100%;
  background-color: var(--color-blue);
}
.devider-red {
  background-color: var(--color-red);
  top: 0px;
}
.devider-yellow {
  background-color: var(--color-yellow);
  top: var(--devider-bar-height);
}
.devider-blue,
.devider-red,
.devider-yellow {
  position: absolute;
  transform-origin: 100% 0%;
  transform: skew(0, -7deg);
  width: 100%;
  height: var(--devider-bar-height);
}

.content {
  padding: var(--m);
  width: 100%;
  max-width: 60rem;
  margin: auto;
}

h1,
h2 {
  font-weight: 300;
}

#main-header {
  background: var(--color-blue, #333);
  color: #fff;
  position: relative;
  overflow: hidden;
  /* view-transition-name: main-header; */
}

#main-header .content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
}

#main-header .content div {
  margin-top: 2rem;
}

#main-header .content div * {
  transform: rotate(-7deg);
  transform-origin: 0%;
  text-align: center;
}

#main-header h1 {
  font-size: 2rem;
}

#main-header h2 {
  font-size: 1.5rem;
}

#main-header h1,
#main-header h2 {
  margin-bottom: 0;
  margin-top: 0;
}

#main-header #logo {
  width: 20rem;
  max-width: 66%;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p {
  margin: 1em 0 0.5em 0;
}

.labeledImage {
  position: relative;
  overflow: hidden;
}

.labeledImage p {
  margin: 0;
}

.labeledImage:hover .labeledImage-label {
  transform: translate(0);
  transition: transform .3s ease-out;
}

.labeledImage-label {
  position: absolute;
  top: var(--l);
  left: 0;
  z-index: 1;
  padding: var(--xxxs) var(--s);
  background-color: var(--color-background);
  transform: translate(-150%);
  transition: transform .3s ease-in;
}

.labeledImage-label::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--color-background);
  transform: skew(-7deg);
  box-shadow: var(--s) 0 0 var(--color-blue),
    calc(2 * var(--s)) 0 0 var(--color-red),
    calc(3 * var(--s)) 0 0 var(--color-yellow);
}

.logo-line {
  height: var(--xxxl);
  display: flex;
  justify-content: space-evenly;
  gap: var(--m);
}

.logo-line img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.infoBox, .warningBox {
  padding: var(--s);
  padding-left: calc(var(--s) + var(--xxxl));
  position: relative;
}

.infoBox > :first-child, .warningBox > :first-child {
  margin-top: 0;
}

.infoBox > :last-child, .warningBox > :last-child {
  margin-bottom: 0;
}

.infoBox::before, .warningBox::before {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: var(--xxxl);
  height: 100%;
  font-size: var(--xl);
}

.infoBox {
  background: var(--color-background-nuanced);
}

.infoBox::before {
  content: "info";
  background: var(--color-blue);
}

.warningBox {
  background: var(--color-yellow);
}

.warningBox::before {
  content: "warning";
  background: var(--color-red);
}

.gmaps {
  border: none;
  width: 100%;
  height: 25rem;
}

@media (min-width: 60rem) {
  body {
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'sidebar main';
    height: 100vh;
  }

  .devider {
    position: relative;
  }

  main {
    overflow: auto;
  }

  aside {
    padding-top: var(--m);
    gap: var(--m);
  }

  nav {
    flex-grow: 1;
  }

  nav ul {
    flex-direction: column;
  }

  nav snap-link {
    display: block;
    height: auto;
  }

  nav snap-link i.material-icon {
    display: none;
  }

  nav snap-link span {
    display: initial;
  }

  nav snap-link::part(a) {
    display: block;
    height: auto;
    padding: var(--s) var(--m);
  }

  aside snap-link::after {
    display: none;
  }
}


@keyframes view-transition-in {
  from {
    opacity: 0;
  }
}

@keyframes view-transition-out {
  to {
    opacity: 0;
  }
}

::view-transition-old(main) {
  animation: .1s both view-transition-out;
}

::view-transition-new(main) {
  animation: .1s both view-transition-in;
}

::view-transition-old(aside) {
  /* Don't show the frozen old view */
  display: none;
}

::view-transition-new(aside) {
  /* Don't fade the new view in */
  animation: none;
}
