---
permalink: /manifest.json
sitemapIgnore: true
---
{
  "name": "{{ meta.site_name | safe }}",
  "short_name": "{{ meta.site_short_name | safe }}",
  "description": "{{ meta.description }}",
  "background_color": "#003049",
  "theme_color": "{{ meta.theme_color }}",
  "manifest_version": 2,
  "scope": "/",
  "start_url": "/",
  "display": "standalone",
  "orientation": "portrait",
  "categories": [
    "competition",
    "sports",
    "unicycling"
  ],
  "icons": [
{% set favicons = meta.favicon | faviconData %}
{
  "src": "{{favicons.svg[0].url}}",
  "type": "{{favicons.svg[0].sourceType}}",
  "sizes": "{{1024}}x{{1024}}",
  "purpose": "any"
},
{
  "src": "{{favicons.svg[0].url}}",
  "type": "{{favicons.svg[0].sourceType}}",
  "sizes": "{{1024}}x{{1024}}",
  "purpose": "maskable"
},

{%- for format, outputs in favicons -%}
  {% set outerLoop = loop -%}
  {% for output in outputs %}
    {
      "src": "{{output.url}}",
      "type": "{{output.sourceType}}",
      "sizes": "{{output.width}}x{{output.height}}",
      "purpose": "any"
    },
    {
      "src": "{{output.url}}",
      "type": "{{output.sourceType}}",
      "sizes": "{{output.width}}x{{output.height}}",
      "purpose": "maskable"
    }{% if not(loop.last and outerLoop.last) %},{%endif-%}
    {% endfor -%}
  {% endfor %}
  ],
  "related_applications": [{
    "platform": "webapp",
    "url": "{{meta.url}}/manifest.json"
  }],
  "screenshots": [
    {% set screenshots = "assets/img/screenshots/narrow.png" | imageFormats %}
    {%- for format, outputs in screenshots -%}
      {% set outerLoop = loop -%}
      {% for output in outputs %}
    {
      "src": "{{output.url}}",
      "type": "{{output.sourceType}}",
      "sizes": "{{output.width}}x{{output.height}}",
      "platform": "narrow"
    },
      {% endfor -%}
    {% endfor -%}
    
    {% set screenshots = "assets/img/screenshots/wide.png" | imageFormats %}
    {%- for format, outputs in screenshots -%}
      {% set outerLoop = loop -%}
      {% for output in outputs %}
    {
      "src": "{{output.url}}",
      "type": "{{output.sourceType}}",
      "sizes": "{{output.width}}x{{output.height}}",
      "platform": "wide"
    }{% if not(loop.last and outerLoop.last) %},{%endif-%}
      {% endfor -%}
    {% endfor -%}
  ]
}