---
permalink: /startlist.json
---
[
    {
      "type": "startgroup",
      "category": "P U17",
      "starts": [
        {
          "type": "paar",
          "category": "P U17",
          "time": "Sa. 12:34",
          "name": "Die Bienenkörbe und ein langer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }, { "name": "Berta Weiber", "number": 456 }]
        },
        {
          "type": "einzel",
          "category": "EW U17",
          "time": "Sa. 12:34",
          "name": "Ein anderer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }]
        },
        {
          "type": "paar",
          "category": "P U17",
          "time": "Sa. 12:34",
          "name": "Die Bienenkörbe und ein langer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }, { "name": "Berta Weiber", "number": 456 }]
        },
        {
          "type": "einzel",
          "category": "EW U17",
          "time": "Sa. 12:34",
          "name": "Ein anderer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }]
        }
      ]
    },
    {
      "type": "startgroup",
      "category": "P U17",
      "starts": [
        {
          "type": "paar",
          "category": "P U17",
          "time": "Sa. 12:34",
          "name": "Die Bienenkörbe und ein langer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }, { "name": "Berta Weiber", "number": 456 }]
        },
        {
          "type": "einzel",
          "category": "EW U17",
          "time": "Sa. 12:34",
          "name": "Ein anderer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }]
        }
      ]
    },
    {
      "type": "startgroup",
      "category": "P U17",
      "starts": [
        {
          "type": "paar",
          "category": "P U17",
          "time": "Sa. 12:34",
          "name": "Die Bienenkörbe und ein langer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }, { "name": "Berta Weiber", "number": 456 }]
        },
        {
          "type": "einzel",
          "category": "EW U17",
          "time": "Sa. 12:34",
          "name": "Ein anderer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }]
        }
      ]
    },
    {
      "type": "startgroup",
      "category": "P U17",
      "starts": [
        {
          "type": "paar",
          "category": "P U17",
          "time": "Sa. 12:34",
          "name": "Die Bienenkörbe und ein langer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }, { "name": "Berta Weiber", "number": 456 }]
        },
        {
          "type": "einzel",
          "category": "EW U17",
          "time": "Sa. 12:34",
          "name": "Ein anderer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }]
        }
      ]
    },
    {
      "type": "startgroup",
      "category": "P U17",
      "starts": [
        {
          "type": "paar",
          "category": "P U17",
          "time": "Sa. 12:34",
          "name": "Die Bienenkörbe und ein langer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }, { "name": "Berta Weiber", "number": 456 }]
        },
        {
          "type": "einzel",
          "category": "EW U17",
          "time": "Sa. 12:34",
          "name": "Ein anderer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }]
        }
      ]
    },
    {
      "type": "startgroup",
      "category": "P U17",
      "starts": [
        {
          "type": "paar",
          "category": "P U17",
          "time": "Sa. 12:34",
          "name": "Die Bienenkörbe und ein langer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }, { "name": "Berta Weiber", "number": 456 }]
        },
        {
          "type": "einzel",
          "category": "EW U17",
          "time": "Sa. 12:34",
          "name": "Ein anderer Titel",
          "imageSrc": "https://this-person-does-not-exist.com/img/avatar-11a5e3c4df0a982966224f522c042127.jpg",
          "starters": [{ "name": "Anna Weiber", "number": 123 }]
        }
      ]
    }
  ]