---
eleventyNavigation:
  icon: list
  key: Startliste
  order: 4
layout: "layouts/page.njk"
tags: ["page"]
---

<h1>Startliste</h1>

<p>
  Diese Startliste ist vorläufig und wir behalten uns letzte Änderungen
  innerhalb einer Altersklasse vor.
</p>

<div class="infoBox hide-print">
Wenn ihr unsere Moderation unterstützen wollt, dann findet ihr jetzt <a href="/assets/documents/Moderationsbogen.pdf" target="_blank">hier unseren Moderationsbogen</a> zum Download.
Bringt diesen einfach ausgefüllt am Wettkampftag mit und gebt ihn beim Musikvorhören ab.
</div>

{% rollup "assets/ts/startlist-filter.ts" %}

<label class="hide-print">Suche: <input type="text" id="startlistSearch"></label>
<input type="reset" value="Reset" id="startlistReset" class="hide-print" />

<p>Altersklassenwechsler sind durch " * " markiert.</p>

{% for starts in startlistWithTimeByDay %}
<details open>
<summary>
  <h2 class="summaryHeading">{{ starts[0].starts | dayName }}</h2>
</summary>

<div class="table-wrapper">
  <table class="ignore-page-break" id="startlist">
    <tbody>
      {% for entry in starts %}
      <tr class="startlist-type-{{entry.type}}">
        <td>{% if entry.start.akSwitcher %}*{% endif %}</td>
        <td class="nowrap tabularNumbers">{{ entry.starts | shortTime }}</td>
        {% if entry.type == 'start' %} {% set start = entry.start %}
        <td>{{ start.event }}</td>
        <td class="nowrap">{{ start.category }}</td>
        {% if start.starters.length > 2 %}
        <td>
          {{start.team or start.label}}<br />
          <details class="hide-print">
            <summary>Starter</summary>
            <ul>
              {% for starter in start.starters %}
              <li>
                #{{ starter.id }} {{ starter.firstname }} {{ starter.lastname }} ({{ starter.club }})
              </li>
              {%endfor%}
            </ul>
          </details>
        </td>
        {%elif start.starters.length == 0%}
        <td>{{start.team or start.label}}</td>
        {% else %}
        <td>
          <ul>
            {% for starter in start.starters %}
            <li>
              #{{ starter.id }} {{ starter.firstname }} {{ starter.lastname }}<br>
              ({{ starter.club }})
            </li>
            {%endfor%}
          </ul>
        </td>
        {%endif%}
        <td>{{start.name or start.group}}</td>
        {% else %}
        <td colspan="4">{{ entry.name }}</td>
      </tr>
      {%endif%} {% endfor %}
    </tbody>
  </table>
</div>

</details>
{%endfor%}