---
eleventyNavigation:
  icon: list
  key: Startliste
  order: 4
layout: "layouts/page.njk"
tags: ["page"]
fullHeader: false
---

<h1>Startliste</h1>

<p>Diese Startliste ist vorläufig und wir behalten uns letzte Änderungen innerhalb einer Altersklasse vor.</p>

<div class="table-wrapper">
<table>
  <tbody>
    {% for start in startlist %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ start.event }}</td>
      <td>{{ start.category }}</td>
      <td>{{start.name or start.group}}</td>
      {% if start.starters.length > 2 %}
      <td>{{start.team or start.label}}</td>
      <td>
        <details>
          <summary>Starter</summary>
          <ul>
            {% for starter in start.starters %}
            <li>
              #{{ starter.id }} {{ starter.firstname }} {{ starter.lastname }}
            </li>
            {%endfor%}
          </ul>
        </details>
      </td>
      {%elif start.starters.length == 0%}
      <td>{{start.team or start.label}}</td>
      <td></td>
      {% else %}
      <td colspan="2">
        <ul>
          {% for starter in start.starters %}
          <li>
            #{{ starter.id }} {{ starter.firstname }} {{ starter.lastname }}
          </li>
          {%endfor%}
        </ul>
      </td>
      {%endif%}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
