<footer>
  <div class="content">
    <div class="footerSections">
      <section class="bioFooter">
        <div class="fwrap">
          <h1>Wir wünschen viel Erfolg</h1>
          <p>
            Wit hoffen, dass diese Seite euch hilft und freuen uns darauf euch Ende Oktober in Nümbrecht begrüßen zu dürfen.
          </p>
        </div>
      </section>
      <section>
        <h1>Kontakt</h1>
        <ul>
          <li>
            Mail:
            <a rel="me" target="_blank" aria-label="Mail Addresse (info@ndmfreestyle23.de)" rel="noopener" href="mailto:info@ndmfreestyle23.de">info@ndmfreestyle23.de</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
